// Globals

* {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 0 20px;
    @media (min-width: 800px) {
        max-width: 800px;
        display: block;
        margin: 0 auto;
    }
}
.show-mobile {
    @media (min-width: 768px) {
        display: none;
    }
}
.show-desktop {
    display: none;
    @media (min-width: 768px) {
        display: inherit;
    }
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 10px;
    top: 10px;
    
    max-width: 100%;
    background: lightgrey;
    color: #000;
    border: 1px solid #000;
    padding: 10px 30px;
    .modal__row {
        margin: 5px 0;
    }
    iframe {
        max-width: 100%;
    }
    &.show {
        display: inherit;
    }
    @media (min-width: 768px) {
        transition: left .25s ease, opacity .25s ease;
        top: calc(50% - 400px);
        left: -700px;
        opacity: 0;
        display: inherit;
        width: 500px;
        &.show {
            display: inherit;
            left: calc(50% - 250px);
            opacity: 1 !important;
        }
    }
    

    .right {
        float: right;
    }
}

// API 
.modal-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 30px;
}
.items__single {
    position: relative;
    margin: 10px 0;
    padding-bottom: 10px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        display: block;
        background: #000;
    }
    @media (min-width: 768px) {
        display: flex;
    }
}
.single__info {
    margin: 10px 0;
}
.single__user,
.single__id {
    @media (min-width: 768px) {
        width: 10%;
    }
}

.single__title {
    @media (min-width: 768px) {
        width: 80%;
    }
}



